/* font-family: 'Lato', sans-serif;
font-family: 'Source Serif Pro', serif;  'EB Garamond', serif;*/

html{
font-size: 20px;
}

body {
  width: 800px;
  margin: 10px;
  background-color: #ccdcc3;
  font-family: 'Source Serif Pro', serif;
}

main {
  width: 85%;
  max-width: 750px;
  background: #FFF;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

nav{
  color: #E3AD16;
  background-color: #FFFFFF;
  display: block;
}

nav a {
  color: #000000;
}

img {
  max-width: 700px;
  min-width: 400px;
}

h1 {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h2{
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.45rem;
}

h3{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 1.2rem;
}

ul, li {
  list-style-type: none;
  font-family: 'Garamond', serif;
}

a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
